---
import CardLogoDesktop from '../icons/CardLogoDesktop.astro';
import CardLogoMobile from '../icons/CardLogoMobile.astro';
---

<main
  class='relative w-[375px] xl:w-[1440px] h-auto xl:h-[900px] shadow-2xl rounded-md overflow-hidden flex flex-col'
>
  <picture>
    <source media='(max-width: 1439px)' srcset='/bg-main-mobile.png' />
    <source media='(min-width: 1440px)' srcset='/bg-main-desktop.png' />
    <img src='/bg-main-mobile.png' alt='Header' />
  </picture>
  <div
    class='absolute w-[286px] xl:w-[447px] h-[157px] xl:h-[245px] top-8 left-[72px] xl:left-[258px] xl:top-[469px] xl:shadow-2xl xl:shadow-gray-800 rounded-md xl:rounded-xl'
  >
    <img src='/bg-card-back.png' alt='Card Back' class='absolute' />
    <span class='absolute text-body-l text-white right-9 xl:right-14 top-[72px] xl:top-[111px]'
      >000</span
    >
  </div>
  <div
    class='absolute w-[286px] xl:w-[447px] h-[157px] xl:h-[245px] top-32 left-[17px] xl:left-[164px] shadow-2xl shadow-gray-500 xl:shadow-gray-800 rounded-md xl:rounded-xl bg-deep-violet xl:top-[186px]'
  >
    <img src='/bg-card-front.png' alt='Card Front' class='absolute' />
    <CardLogoDesktop />
    <CardLogoMobile />
    <span
      class='text-white tracking-[2.2px] xl:tracking-[3.422px] font-medium text-[18px] xl:text-[28px] absolute left-5 xl:left-8 bottom-12 xl:bottom-[70px]'
      >0000 0000 0000 0000</span
    >
    <span class='text-body-l absolute bottom-5 xl:bottom-6 left-5 xl:left-8 text-white'
      >Jane Appleseed</span
    >
    <span class='text-body-l absolute bottom-5 xl:bottom-6 right-5 xl:right-8 text-white'
      >00/00</span
    >
  </div>
  <div
    class='w-[327px] xl:w-[381px] mt-24 xl:mt-0 mx-auto xl:absolute xl:top-1/2 xl:-translate-y-1/2 xl:right-0 xl:-translate-x-1/2'
  >
    <label class='text-body-m text-deep-violet' for='name'>Cardholder name</label>
    <input
      class='mt-2.5 mb-5 rounded-lg heading-l py-2.5 px-4 w-full border border-light-gray outline-violet'
      type='text'
      placeholder='e.g. Jane Appleseed'
      id='name'
    />
    <label class='text-body-m text-deep-violet' for='number'>Card number</label>
    <input
      class='mt-2.5 mb-5 rounded-lg heading-l py-2.5 px-4 w-full border border-light-gray outline-violet'
      type='text'
      placeholder='e.g. 1234 5678 9123 0000'
      id='number'
    />
    <div class='mb-5 grid gap-2.5 grid-cols-2'>
      <div class='flex flex-col'>
        <label class='text-body-m text-deep-violet' for='month'>Exp. date (mm/yy)</label>
        <div class='mt-2.5 flex gap-2'>
          <input
            class='rounded-lg heading-l py-2.5 px-4 w-full border border-light-gray outline-violet'
            type='text'
            placeholder='MM'
            id='month'
          />
          <input
            class='rounded-lg heading-l py-2.5 px-4 w-full border border-light-gray outline-violet'
            type='text'
            placeholder='YY'
            id='year'
          />
        </div>
      </div>
      <div class='flex flex-col'>
        <label class='text-body-m text-deep-violet' for='cvc'>CVC</label>
        <input
          class='mt-2.5 rounded-lg heading-l py-2.5 px-4 w-full border border-light-gray outline-violet'
          type='text'
          placeholder='e.g. 123'
          id='cvc'
        />
      </div>
    </div>
    <button
      class='heading-l mb-10 mt-4 text-white bg-deep-violet w-full py-4 text-center rounded-lg'
      >Confirm</button
    >
  </div>
</main>
